body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e2dfdf;
  }
  
  h1 {
    text-align: center;
    margin-top: 30px;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .calculate-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background
  }
  
  #result {
    font-size: 1.2rem;
    margin-top: 20px;
    text-align: center; /* Center the text */
  }

/* Tableau */
table {
  border-collapse: collapse;
  margin: 20px auto;
  width: 80%;
  max-width: 800px;

}

th, td {
  border: 2px solid rgb(8, 8, 8);
  padding: 8px;
  text-align: center;
}

th {
  background-color: #4CAF50;
  color: rgb(7, 7, 7);
  font-size: 1.2rem;
  font-weight: normal;
}

td {
  font-size: 1.1rem;
}
.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

/* Contact page */

  .nav-item {
    margin-left: auto;
    color: #4CAF50;
    font-size: 1.2rem;
    text-decoration: none;
  }
  
  .nav-item:hover {
    text-decoration: underline;
  }
  